<div class="modal">
    <div class="modal-content">
      <h2 mat-dialog-title class="text-danger">Update Product</h2>
      <form>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea id="description" name="description" class="form-control" [(ngModel)]="description"></textarea>
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input type="number" id="price" name="price" class="form-control" step="0.01" [(ngModel)]="price">
        </div>
        <button class="btn btn-success" type="submit" (click)="updateProduct()">Update</button>
      </form>
    </div>
</div>