<div class="box mt-5">
    <div class="my-2 w-25">
        <!--<app-select [title] = "'Categories'" [data] = "categories" (selectedValue) = "filterCategory($event)"></app-select>-->
        <app-select [title] = "'Categories'"></app-select>
    </div>
    <div class="row" *ngIf = "!loading">
        <div class="col-md-3 col-sm-12" *ngFor = "let item of products">
            <app-product [data] = "item" (item) = "addToCart($event, item._id)"></app-product>
        </div>
    </div>
    <div class="text-center w-100" *ngIf = "loading">
        <app-spinner></app-spinner>
    </div>
</div>