<div class="box" *ngIf = "!loading">
    <h1 class="text-danger">My Products</h1>
    <div class="head">
        <p class="lead">You have <label class="text-danger">{{products.length}}</label> products in your market</p>
        <span class="text-danger card-header" (click)="deleteProducts()">Clear Your Market</span>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Price</th>
                <th style="width: 25%;">Quantity</th>
                <th>Exposure Date</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngFor = "let item of products">
            <tr>
                <td><img src="{{item.photo}}" alt=""></td>
                <td>{{item.name}}</td>
                <td>{{item.price}} LE</td>
                <td>
                    <div class="quantity">
                        <button class="btn btn-dark" (click)="decreaseQuantity(item._id)">-</button>
                        <input class="form-control" type="number" min="1" value="{{item.quantity}}">
                        <button class="btn btn-dark" (click)="increaseQuantity(item._id)">+</button>
                    </div>
                </td>
                <td>14-01-1997</td>
                <td><button class="btn btn-primary" (click)="openDialogU('1000ms', '1000ms', item._id, item.description, item.price)">Edit Description</button></td>
                <td>
                    <button class="btn btn-danger" (click)="deleteOneProduct(item._id)">Delete</button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th><button class="btn btn-success" (click)="openDialog('1000ms', '1000ms')">Add Product</button></th>
            </tr>
        </tfoot>
    </table>
</div>
<div class="text-center w-100" *ngIf = "loading">
    <app-spinner></app-spinner>
</div>