<div class="box">
    <h1 class="text-danger">Users</h1>
    <div class="head">
        <p class="lead">there are <label class="text-danger">0</label> registered user(s)</p>
        <span class="text-danger card-header">Delete all users</span>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>User name</th>
                <th>Email adresse</th>
                <th>Products</th>
                <th>Registered since</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngFor = "let item of users">
            <tr>
                <td><div class="user-circle">{{item.userName.charAt(0)}}</div></td>
                <td>{{item.userName}}</td>
                <td>{{item.email}}</td>
                <td>{{item.productCount}}</td>
                <td>{{item.registrationDate}}</td>
                <td><button class="btn btn-primary">Profile</button></td>
                <td>
                    <button class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>