<nav>
    <div class="container">
        <div class="content">
                <h2 class="logo" routerLink="/">Market</h2> 
            <ul [ngStyle]="{ 'width': isAdmin ? '70%' : '50%' }">
                <li *ngIf="isAdmin" routerLink="/users">Users</li>
                <li *ngIf="isAdmin" [ngStyle]="newOrder ? { 'color': 'blue' } : { 'color': '' }" routerLink="/orders">Orders</li>
                <li *ngIf="isAdmin" routerLink="/notConfirmedProducts">Confirm products</li>
                <li routerLink="/"> Products</li>
                <li routerLink="/myProducts"> My Products</li>
                <li *ngIf="!isAdmin" routerLink="/cart"> Cart</li>
                <ng-container *ngIf="!isLoggedIn">
                    <div ngbDropdown class="d-inline-block">
                        <li>
                            <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle> Login/Register</button>
                        </li>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem routerLink = "/login">Login</button>
                            <button ngbDropdownItem routerLink = "/register">Register</button>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="isLoggedIn">
                    <div class="user-circle" (click)="toggleDropdown()" [class.shining]="isShining" (mouseover)="startShining()" (mouseout)="stopShining()">
                        {{ userName.charAt(0) }}
                        <div class="dropdown-menu" *ngIf="isDropdownOpen">
                            <ul>
                              <li><a href="#">Profile</a></li>
                              <li><a (click)="logout()">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </ng-container>
            </ul>
        </div>
    </div>
</nav>